.img-container {
  display: flex;
  max-width: 1200px;
  min-width: 935px;
  margin-inline: auto;
  justify-content: center;
  border-right: 3px solid #fff;
  animation: random-color-in 10s infinite alternate;
}

.img-container-light {
  border-right-color: #000000;
  color: #000000;
}

@keyframes random-color-in {
  0% {
    box-shadow: inset -70px 0px 30px -70px #31f8ff;
  }
  10% {
    box-shadow: inset -65px 0px 30px -70px #30ffff8e;
  }
  20% {
    box-shadow: inset -65px 0px 30px -70px #2dff2d;
  }
  30% {
    box-shadow: inset -70px 0px 30px -70px #2eff2e83;
  }
  40% {
    box-shadow: inset -65px 0px 30px -70px #fbff2c;
  }
  50% {
    box-shadow: inset -65px 0px 30px -70px #fbff2988;
  }
  60% {
    box-shadow: inset -70px 0px 30px -70px #ff0000;
  }
  70% {
    box-shadow: inset -65px 0px 30px -70px #ff00008c;
  }
  80% {
    box-shadow: inset -70px 0px 30px -70px #ff00c8;
  }
  90% {
    box-shadow: inset -65px 0px 30px -70px #ff00c88a;
  }
  100% {
    box-shadow: inset -65px 0px 30px -70px #31f8ff;
  }
}

#img-perfil {
  padding-top: 10px;
  margin-left: 30px;
}

.about {
  font-size: 20px;
  line-height: 35px;
  padding: 0 35px;
}

.my-name {
  font-weight: bold;
  font-size: 40px;
  padding: 0 0 10px 35px;
  width: max-content;
  animation: blinkingCursor 550ms 5.7s 11 alternate forwards,
  typing 4s 1s steps(23) normal both;
  border-right: 2px solid;
  overflow: hidden;
  white-space: nowrap;
}

.my-name-light {
  border-color: #161616;
  animation: blinkingCursorLight 550ms 5.7s 11 alternate forwards,
  typing 4s 1s steps(23) normal both;
}

@keyframes blinkingCursor {
  from {
    border-color: #fff;
  }
  to {
    border-color: transparent;
  }
}

@keyframes blinkingCursorLight {
  from {
    border-color: #161616;
  }
  to {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 554px;
  }
}

.about:last-child {
  text-align: justify;
  padding-top: 75px;
}
