#learn-content {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 700px;
}

#learn-content h3 {
  font-size: 30px;
  margin-left: 20px;
}

#learn-content a {
  margin: 20px;
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 20px;
  width: 200px;
}

#trybe {
  background-color: #036b52;
  color: #ffffff;
}


#stackoverflow {
  background-color: hsl(27,90%,55%);
  color: #161616;
}

#w3schools {
  background-color: #e9e9e9;
  color: #04AA6D;
}

#diolinux {
  background-color: #2874fc;
  color: #ffffff;
}

#trybe:hover {
  transition: 0.2s;
  background-color: #036b53d0;
  color: #ffffffd8;
}

#stackoverflow:hover {
  transition: 0.2s;
  background-color: rgba(244, 130, 37, 0.836);
  color: #161616ee;
}

#w3schools:hover {
  transition: 0.2s;
  background-color: #e9e9e9d3;
  color: #04aa6dc4;
}

#diolinux:hover {
  transition: 0.2s;
  background-color: #2876fccc;
  color: #ffffffd8;
}
