#pictures-learn {
  display: flex;
  justify-content: center;
}

.section-pictures {
  display: flex;
  align-items: center;
  height: 380px;
  padding-inline: 25px;
  width: 75%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: wrap;
}

.section-pictures::-webkit-scrollbar {
  background-color: transparent;
  height: 6px;
  border-radius: 5px;
}

.section-pictures-dark:hover::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.11);
}

.section-pictures-light:hover::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.281);
}

.section-pictures-dark:hover::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.section-pictures-light:hover::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

.section-pictures-dark::-webkit-scrollbar:active {
  background-color: rgba(255, 255, 255, 0.322);
}

.section-pictures-light::-webkit-scrollbar:active {
  background-color: rgba(0, 0, 0, 0.432);
}

.section-pictures::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.section-pictures div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 25px;
  text-align: center;
  font-size: 20px;
  height: 200px;
  border-radius: 5px;
  color: transparent;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, transparent, transparent, rgba(255, 255, 255, 0.151));
}

.section-pictures div img {
  max-height: 90px;
  max-width: 160px;
  /* aspect-ratio: ; */
}

.section-pictures div h4 {
  width: 150px;
  height: 50px;
}

.section-pictures div:hover {
  animation: random-color 10s infinite alternate;
  transform: scale(1.1);
  transition: transform 1s;
  border: 2px solid;
  margin: 23px;
  background-color: rgba(255, 255, 255, 0.068);
}

.section-pictures-dark div:hover {
  border-color: #fff;
  color: #fff;
}

.section-pictures-light div:hover {
  border-color: #000;
  color: #000;
}

.section-pictures div:hover img {
  animation: float-image 3s infinite;
}

@keyframes float-image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes random-color {
  0% {
    box-shadow: 0px 0px 30px 0px #31f8ff, inset 0px 0px 30px 0px #31f8ff;
  }
  10% {
    box-shadow: 0px 0px 30px 0px #30ffff8e, inset 0px 0px 30px 0px #30ffff8e;
  }
  20% {
    box-shadow: 0px 0px 30px 0px #2dff2d, inset 0px 0px 30px 0px #2dff2d;
  }
  30% {
    box-shadow: 0px 0px 30px 0px #2eff2e83, inset 0px 0px 30px 0px #2eff2e83;
  }
  40% {
    box-shadow: 0px 0px 30px 0px #fbff2c, inset 0px 0px 30px 0px #fbff2c;
  }
  50% {
    box-shadow: 0px 0px 30px 0px #fbff2988, inset 0px 0px 30px 0px #fbff2988;
  }
  60% {
    box-shadow: 0px 0px 30px 0px #ff0000, inset 0px 0px 30px 0px #ff0000;
  }
  70% {
    box-shadow: 0px 0px 30px 0px #ff00008c, inset 0px 0px 30px 0px #ff00008c;
  }
  80% {
    box-shadow: 0px 0px 30px 0px #ff00c8, inset 0px 0px 30px 0px #ff00c8;
  }
  90% {
    box-shadow: 0px 0px 30px 0px #ff00c88a, inset 0px 0px 30px 0px #ff00c88a;
  }
  100% {
    box-shadow: 0px 0px 30px 0px #31f8ff, inset 0px 0px 30px 0px #31f8ff;
  }
}
