#footer-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-style: italic;
}

#footer-content section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-reference a {
  padding-left: 8px;
  color: inherit;
  font-weight: bold;
}
