header {
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}

header nav {
  padding-top: 37px;
}

p a {
  display: inline-block;
  padding: 5px 10px 5px 5px;
  background-color: #86dd15;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 25px;
  transform: translateX(-115px);
  transition: 0.8s;
}

#tag-about {
  border-top: 2px solid #fff;
}

#tag-warning {
  border-bottom: 2px solid #fff;
}

p a:hover {
  padding-left: 130px;
  color: #fff;
}

a {
  text-decoration: none;
}