header {
  display: flex;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}

header nav {
  padding-top: 37px;
  width: 200px;
}

.link {
  display: flex;
  padding: 5px 10px 5px 5px;
  background-color: #86dd15;
  color: transparent;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  height: 25px;
  transform: translateX(-95px);
  transition: 0.8s;
}

.link-light {
  background-color: #294207;
}

.first-link {
  border-top: 2px solid #fff;
}

.last-link {
  border-bottom: 2px solid #fff;
}

p a:hover {
  padding-left: 130px;
  color: #fff;
}

a {
  text-decoration: none;
}

.arrow-polygon {
  position: absolute;
  margin: 84px 0 0 87px;
  background-color: transparent;
  width: 30px;
  height: 40px;
  clip-path: polygon(0 50%, 50% 0, 60% 0, 10% 50%, 60% 100%, 50% 100%);
  animation-name: arrow-move-dark;
  animation-duration: 1s;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

.arrow-polygon-light {
  position: absolute;
  margin: 84px 0 0 87px;
  background-color: transparent;
  width: 30px;
  height: 40px;
  clip-path: polygon(0 50%, 50% 0, 60% 0, 10% 50%, 60% 100%, 50% 100%);
  animation-name: arrow-move-light;
  animation-duration: 1s;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

@keyframes arrow-move-dark {
  from {
    margin: 84px 0 0 87px;
    background-color: transparent;
  }
  to {
    margin: 84px 0 0 47px;
    background-color: rgba(255, 255, 255);
  }
}

@keyframes arrow-move-light {
  from {
    margin: 84px 0 0 87px;
    background-color: transparent;
  }
  to {
    margin: 84px 0 0 47px;
    background-color: rgb(0, 0, 0);
  }
}
