* {
  margin: 0;
  padding: 0;
}

#root {
  color: #c7c7c7;
  background-image: linear-gradient(rgb(29, 29, 29), rgb(15, 15, 15), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
  border-left: 20px solid #86dd15;
}
