* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.dark::before {
  position: absolute;
  z-index: 0;
  content: '';
  width: 20px;
  height: 100%;
  background-color: #86dd15;
}

.dark {
  height: 100%;
  color: #c7c7c7;
  background-image: linear-gradient(rgb(29, 29, 29), rgb(15, 15, 15), rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
}

.dark *::selection {
  background: #fff;
  color: #000;
}

.light::before {
  position: absolute;
  z-index: 0;
  content: '';
  width: 20px;
  height: 100%;
  background-color: #294207;
}

.light {
  height: 100%;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(236, 236, 236), rgb(212, 212, 212));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
}

.light *::selection {
  background: #000;
  color: #fff;
}

span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 20px 20px;
}

span:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
