* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#body::before {
  position: fixed;
  content: '';
  width: 20px;
  height: 100%;
  background-color: #86dd15;
}

#body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace;
}

.dark {
  color: #c7c7c7;
  background-image: linear-gradient(rgb(29, 29, 29), rgb(15, 15, 15), rgb(0, 0, 0));
}

.dark *::selection {
  background: #fff;
  color: #000;
}

.light {
  color: #000;
  background-color: #fff;
}

.light *::selection {
  background: #000;
  color: #fff;
}

span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 20px 20px;
}

span:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
